body, html {
  height: 100%;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #B0B0B0;
}


/*  CSS for hero image section  */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
  url("img/atl.png");
  width: 70%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: auto;
  margin-top: 2%;;
  padding-right: 10%;
}

.hero-nav ul {
  list-style: none;
  float: right; 
}

.hero-nav ul li {
  display: inline;
  padding-right: 25px;
  color: #9FA6B1;
  font-size: 14px;
  font-weight: bolder;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gray;
}

.logo {
  width: 175px;
  height: 75px;
}

.title-text {
  margin: 5px;
  font-size: 62px;
  color: #FDFDFF;
}

.subtitle-text {
  margin: 20px;
  width: 400px;
  font-size: 20px;
  font-weight: bolder;
}

.down-arrow {
  position: relative;
  margin-bottom: -100px;
}

.services {
  position: relative;
  width: 80%;
  height: 48%;
  margin: auto;
  background-color: #FDFDFF;
}

.service-title {
  margin: 0;
  padding-top: 60px;
  text-align: center;
  color: #515151;
}

.article-container {
  width: 82%;
  height: 500px;
  padding-top: 15px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

article {
  width: 180px;
  padding-top: 40px;
  padding-right: 30px;
  color: #515151;
}

article img {
  padding-left: 20px;
}

article h1 {
  margin: 10px 0 5px 0;
  font-size: 32px;
  text-align: center;
}
article p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.footer {
  width: 80.2%;
  margin: auto;
  background-color: #515151;
  color: #CDCDCD;
}

.bottom-nav {
  margin: auto;
  list-style: none;
  text-align: center;
  color: #CDCDCD;
}

.bottom-nav li {
  display: inline-block;
  font-size: 20px;
  padding-right: 50px;
  padding-top: 30px;
  
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #797979;
  padding-bottom: 40px;
}

